<head>
  <meta charset="UTF-8" />
  <title>Chilbi Kassensystem</title>
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/page.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />

  <!-- Phosphor icons -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
  />

  <script defer type="module" src="/main.js"></script>
  <script defer type="module" src="/JS/pages/navbar.js"></script>
</head>
