<nav id="mainNav">
  <ul id="leftNav">
    <li>
      <a href="/" class="linkButton"><i class="ph-fill ph-house"></i></a>
    </li>
    <li>
      <a href="/overview/" class="linkButton"
        ><i class="ph-fill ph-clock-counter-clockwise"></i
      ></a>
    </li>
    <li>
      <a href="/close/" class="linkButton"><i class="ph-fill ph-key"></i></a>
    </li>
  </ul>

  <div id="centerNav">
    <span id="cashRegisterName"></span>
    |
    <span>{{ title }}</span>
  </div>

  <div id="rightNav">
    <span id="dateTime"></span>
    <a href="/settings/" class="linkButton"><i class="ph-fill ph-gear"></i></a>
    <button class="linkButton"><i class="ph-fill ph-lock"></i></button>
  </div>
</nav>
