:root {
    --color-dark: #313252;
    --color-border: #0b0b0c5a;
    --color-background: #efefef;
    --color-panel: #fff;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Ubuntu Sans", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
